@import url("reset.css");

body {
	font-family: 'Malgun Gothic';
	font-size: 13px;
	color: #333
}

p {
	padding: 10px;
}

#wrapper {
	margin: 0 auto;
	width: 900px;
}

#headerwrap {
	width: 900px;
	float: left;
	margin: 0 auto;
}

#header {
	height: 75px;
	border-radius: 10px;
	margin: 5px;
}

#navigationwrap {
	width: 900px;
	float: left;
	margin: 0 auto;
}

#navigation {
	height: 40px;
	border-radius: 10px;
	margin: 5px;
}

#contentwrap {
	width: 750px;
	float: left;
	margin: 0 auto;
}

#content {
	background: #FFFFFF;
	border-radius: 10px;
	border: 1px solid #ebebeb;
	margin: 5px;
}

#leftcolumnwrap {
	width: 150px;
	float: left;
	margin: 0 auto;
}

#leftcolumn {
	border-radius: 10px;
	margin: 5px;
}

#footerwrap {
	width: 900px;
	float: left;
	margin: 0 auto;
	clear: both;
}

#footer {
	height: 40px;
	background: #E8E8E8;
	border-radius: 10px;
	border: 1px solid #ebebeb;
	margin: 5px;
}

#menu-bar {
	width: 880px;
	margin: 0px 0px 0px 0px;
	padding: 6px 6px 4px 6px;
	height: 30px;
	line-height: 100%;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: 2px 2px 3px #666666;
	-webkit-box-shadow: 2px 2px 3px #666666;
	-moz-box-shadow: 2px 2px 3px #666666;
	background: #8B8B8B;
	background: linear-gradient(top, #A9A9A9, #7A7A7A);
	background: -ms-linear-gradient(top, #A9A9A9, #7A7A7A);
	background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9),
		to(#7A7A7A));
	background: -moz-linear-gradient(top, #A9A9A9, #7A7A7A);
	border: solid 1px #6D6D6D;
	position: relative;
	z-index: 999;
}

#menu-bar li {
	margin: 0px 0px 6px 0px;
	padding: 0px 6px 0px 6px;
	float: left;
	position: relative;
	list-style: none;
}

#menu-bar a {
	font-weight: bold;
	font-family: 'Malgun Gothic';
	font-size: 12px;
	color: #E7E5E5;
	text-decoration: none;
	display: block;
	padding: 4px 25px 25px 25px;
	margin: 0;
	margin-bottom: 6px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	text-shadow: 2px 2px 3px #000000;
}

#menu-bar li ul li a {
	margin: 0;
}

#menu-bar .active a, #menu-bar li:hover>a {
	background: #0399D4;
	background: linear-gradient(top, #EBEBEB, #A1A1A1);
	background: -ms-linear-gradient(top, #EBEBEB, #A1A1A1);
	background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB),
		to(#A1A1A1));
	background: -moz-linear-gradient(top, #EBEBEB, #A1A1A1);
	color: #444444;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar ul li:hover a, #menu-bar li:hover li a {
	background: none;
	border: none;
	color: #666;
	-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#menu-bar ul a:hover {
	background: #0399D4 !important;
	background: linear-gradient(top, #04ACEC, #0186BA) !important;
	background: -ms-linear-gradient(top, #04ACEC, #0186BA) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC),
		to(#0186BA)) !important;
	background: -moz-linear-gradient(top, #04ACEC, #0186BA) !important;
	color: #FFFFFF !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar li:hover>ul {
	display: block;
}

#menu-bar ul {
	background: #DDDDDD;
	background: linear-gradient(top, #FFFFFF, #CFCFCF);
	background: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),
		to(#CFCFCF));
	background: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 47px;
	left: 0;
	border: solid 1px #B4B4B4;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 2px 2px 3px #222222;
	-moz-box-shadow: 2px 2px 3px #222222;
	box-shadow: 2px 2px 3px #222222;
}

#menu-bar ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#menu-bar ul a {
	padding: 10px 0px 10px 15px;
	color: #424242 !important;
	font-size: 12px;
	font-style: normal;
	font-family: 'Malgun Gothic';
	font-weight: normal;
	text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar ul li:first-child>a {
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
}

#menu-bar ul li:last-child>a {
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

#menu-bar:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#menu-bar {
	display: inline-block;
}

html[xmlns] #menu-bar {
	display: block;
}

* html #menu-bar {
	height: 1%;
}

#lnb {
	width: 12em;
	border-right: 1px solid #000;
	padding: 0 0 1em 0;
	margin-bottom: 1em;
	font-family: 'Malgun Gothic';
	background-color: #90bade;
	color: #333;
}

#lnb ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
	
#lnb li {
	border-bottom: 1px solid #90bade;
	margin: 0;
	list-style: none;
	list-style-image: none;
}
	
#lnb li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

html>body #lnb li a {
	width: auto;
}

#lnb li a:hover {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}

