@charset "utf-8";

/* font */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/*-----------------------------------------------------------------------------------
	Reset Properties
-----------------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;background:none transparent;font-size:100%;font-weight:normal;font-style:normal;border:0;box-sizing: border-box;}
table{width:100%; border-collapse:collapse;border-spacing:0;border:0;table-layout:fixed;}
img{vertical-align:top;}
li{list-style:none;}
address, caption, em, cite{font-weight:normal;font-style:normal;}
caption{width:0;height:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
legend, hr{position:absolute;top:-9999em;left:-9999em;width:0;height:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}

body{font:12px/1.6 'Roboto', 'Noto Sans KR', sans-serif;color:#666;background:rgb(244, 248, 249);}
a{color:#666;text-decoration:none;}
label, select, input, textarea{font:15px/1.4 'Roboto', 'Noto Sans KR', sans-serif;color:#666;vertical-align:top;outline:none;}
input, textarea{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-appearance:none;}
input[type="checkbox"], input[type="radio"]{padding:0;}
input[type="text"], input[type="number"]{height:41px;line-height:41px;padding:0 10px;border:1px solid #dfdfe1;font-size:15px;color:#000;border-radius:4px;background:#fff;box-sizing:border-box;}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0;}
::-webkit-input-placeholder{color:#666;}
:-moz-placeholder{color:#666;}
::-moz-placeholder{color:#666;}
:-ms-input-placeholder{color:#666;}
textarea {width:100%;padding:10px;border: 1px solid #dfdfe1;font-size: 15px;color: #000;border-radius: 4px;background: #fff;box-sizing: border-box;resize:none;}

/*-----------------------------------------------------------------------------------
	Layout Properties
-----------------------------------------------------------------------------------*/
html,body{min-width:1780px;height:100%}
body{margin:0}
.wrap{overflow:hidden;min-width:1180px;min-height:100%;padding-bottom:135px;box-sizing:border-box;}

.variableArea {display:block;width:1740px;margin:0 auto;position: relative;}
.variableArea:after {content:"";display:block;clear:both;}
/*
@media (min-width:0px) {.variableArea {max-width:1150px;}}
@media (min-width:1525px) {.variableArea {max-width:1445px;}}
@media (min-width:1820px) {.variableArea {max-width:1740px;}}
*/

/* header */
.header {background:#fff;box-shadow: 0px 0px 18px 0px rgba(51, 59, 69, 0.12);}
.header .headerIn {height: 52px;border-bottom: #eff0f1 1px solid;}
.header .logo {float:left;padding-top:11px;}
.header .logo a {overflow:hidden;display:block;width:129px;height:30px;background:url('/resources/images/common/logo.png') no-repeat;text-indent:-999px;}
.header .util {float:right;height:45px;padding-top:14px;}
.header .util > li {float:left;position:relative;margin-left:12px;}
.header .util > li > a {font-weight:300;color:#1c1c1c;font-size:13px;}
.header .util > li > a strong {font-weight:500;}
.header .util > li .btnUser .xi-profile-o {margin-right:5px;font-size:25px;vertical-align:middle;}
.header .util > li .btnUser .xi-angle-down-min {margin:-3px 0 0 4px;font-size:16px;vertical-align:middle;opacity:0.5;}
.header .util > li .btnUser:hover .xi-angle-down-min, .header .util > li .btnUser.open .xi-angle-down-min {opacity:1;transition:all 0.1s;}
.header .util > li .userInfoLayer {display:none;position:absolute;left:50%;top:31px;width:250px;height:252px;margin-left:-126px;background:#fff;border:1px solid #ddd;border-radius:12px;box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.10);z-index:10}
.header .util > li .userInfoLayer:before {position:absolute;left:50%;top:-6px;content:"";display:block;width:12px;height:6px;margin-left:-6px;background:url('/resources/images/common/Triangle001.svg') no-repeat;}
.header .util > li .userInfoLayer .userInfo {position:relative;height:70px;padding:15px 15px 15px 64px;}
.header .util > li .userInfoLayer .userInfo .img {position:absolute;left:15px;top:15px;overflow:hidden;width:40px;height:40px;border-radius:3px;}
.header .util > li .userInfoLayer .userInfo .img img {width:40px;height:40px;}
.header .util > li .userInfoLayer .userInfo strong {display:block;margin-top:-2px;font-size:16px;color:#1c1c1c;font-weight:700;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.header .util > li .userInfoLayer .userInfo span {display:block;margin-top:-1px;font-size:13px;color:#999;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.header .util > li .userInfoLayer .userInfo .img img {width:40px;height:40px;}
.header .util > li .userInfoLayer a {display:block;padding-left:15px;font-size:14px}
.header .util > li .userInfoLayer a:hover {color:#1c1c1c;}
.header .util > li .userInfoLayer > a {height:42px;border-top:1px solid #e8e8e8;line-height:42px;}
.header .util > li .userInfoLayer ul {height:92px;padding:10px 0;line-height:24px;border-top:1px solid #e8e8e8;}

.header .util > li .btnPush {position:relative;top:-5px;font-size:24px;}
.header .util > li .btnPush span.count {position: absolute; right:0px; top:-4px; width:20px; height:20px; max-width:20px; max-height:20px; overflow: hidden; border-radius: 50%; background:#aaa; color:#fff; text-align: center; font-size:11px; font-family: Tahoma; font-weight: bold; letter-spacing:-1px; padding-top:1px; margin:0 -7px 0 0; border:#fff 2px solid;line-height:14px;}
.header .util > li .btnPush span.count.on {background:#1f8efa;}

.header .util > li .noticeLayer {display:none;position:absolute;right:-36px;top:31px;width:250px;height:260px;background:#fff;border:1px solid #ddd;border-radius:12px;box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.10);z-index:10}

.header .util > li .noticeLayer .noticeNo {position:relative;height:258px;padding-top:102px;text-align:center;font-size:12px;color:#999;background:#f4f8f9;border-radius:12px;}
.header .util > li .noticeLayer .noticeNo:before {position:absolute;right:0;top:-6px;content:"";display:block;width:12px;height:6px;margin-right:40px;background:url('/resources/images/common/Triangle002.svg') no-repeat;}
.header .util > li .noticeLayer .noticeNo i {display:block;margin-bottom:6px;font-size:32px;color:#dbdbdb;}

.header .util > li .noticeLayer .noticeList {position:relative;height:258px;padding:10px 10px 10px 10px;border-radius:12px;}
.header .util > li .noticeLayer .noticeList:before {position:absolute;right:0;top:-6px;content:"";display:block;width:12px;height:6px;margin-right:40px;background:url('/resources/images/common/Triangle001.svg') no-repeat;}
.header .util > li .noticeLayer .noticeList .scrollbar-inner {position:relative !important;height:238px;}
.header .util > li .noticeLayer .noticeList li {position:relative;margin-top:13px;padding-left:38px;padding-right:20px;}
.header .util > li .noticeLayer .noticeList li:first-child {margin-top:15px;}
.header .util > li .noticeLayer .noticeList li:before {content:"";display:block;position:absolute;left:18px;bottom:100%;width:1px;height:200px;background:#c4d0dd}
.header .util > li .noticeLayer .noticeList li:first-child:before {background:#fff;z-index:1;}
.header .util > li .noticeLayer .noticeList li i {position:absolute;left:7px;top:0px;display:block;width:24px;height:24px;line-height:24px;font-size:14px;color:#fff;background:#1f8efa;text-align:center;border-radius:12px;z-index:1;}
.header .util > li .noticeLayer .noticeList li.read i {background:#c4d0dd;}

.header .util > li .noticeLayer .noticeList a {display:block;font-size:13px;line-height:17px;color:#1c1c1c;font-weight:400}
.header .util > li .noticeLayer .noticeList .read a {color:#666;font-weight:300}
.header .util > li .noticeLayer .noticeList .date {display:block;padding-top:1px;font-size:11px;font-weight:300;color:#666;}








.header .util > li .btnHelp .xi-help-o {font-size:24px;}
.header .util > li .btnHelp + .helpLayer {;position:absolute;left:-20px;top:31px;width:66px;height:26px;background:#1c1c1c;font-weight:700;color:#fff;line-height:26px;text-align:center;border-radius:13px;opacity:0;transition:all 0.2s ease;}
.header .util > li .btnHelp + .helpLayer:before {position:absolute;left:50%;top:-6px;content:"";display:block;width:12px;height:6px;margin-left:-6px;background:url('/resources/images/common/Triangle003.svg') no-repeat;}
.header .util > li .btnHelp:hover + .helpLayer {opacity:1;}

.header .gnbArea {height:74px;}
.header .gnbArea:after {content:"";display:block;clear:both;}
.header .gnbArea .gnb {float:left;}
.header .gnbArea .menu {float:left;position:relative;padding-top:20px;}
.header .gnbArea .menu > li {float:left;position:relative;margin-left:20px;}
.header .gnbArea .menu > li:first-child {margin-left:30px;}
.header .gnbArea .menu > li > a {padding-bottom:9px;font-size:18px;color:#1c1c1c;font-weight:500;}
.header .gnbArea .menu > li > a:hover {color:#1f8efa;}
.header .gnbArea .menu > li > a.active {color:#1f8efa;border-bottom:3px solid #1f8efa; }
.header .gnbArea .menu .xi-ellipsis-h {overflow:hidden;display:inline-block;width:20px;height:20px;margin:-5px -5px 0 5px;border:1px solid #e0e4e5;font-size:14px;color:#1c1c1c;vertical-align:middle;text-align:center;line-height:18px;border-radius:10px;opacity:0.5;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);transition:all 0.1s}
.header .gnbArea .menu .xi-ellipsis-h:hover {border-color:#ccc;opacity:1;color:#1c1c1c;}
.header .gnbArea .menu .xi-ellipsis-h span {display:none;}
.header .gnbArea .menu .boardMenu_setting {display:none;position:absolute;right:-32px;top:34px;width:73px;height:67px;padding-top:12px;background:#fff;border:1px solid #ddd;border-radius:8px;text-align:center;font-size:13px;line-height:21px;font-weight:300;box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.30);z-index:1}
.header .gnbArea .menu .boardMenu_setting:before {position:absolute;left:50%;top:-6px;content:"";display:block;width:12px;height:6px;margin-left:-6px;background:url('/resources/images/common/Triangle001.svg') no-repeat;}
.header .gnbArea .menu .boardMenu_setting a {color:#1c1c1c;}

.header .gnbArea .btnDashboard {float:right;display:block;height:34px;margin-top:20px;padding-right:10px;font-size:14px;color:#1c1c1c;font-weight:400;line-height:32px;border:1px solid #ccc;border-radius:17px;transition:all 0.2s ease;}
.header .gnbArea .btnDashboard i {display:inline-block;width:12px;height:12px;margin:-2px 6px 0px 15px;vertical-align:middle;background:url('/resources/images/common/ico_dashboard.png') no-repeat;opacity:0.5;transition:all 0.2s ease;}
.header .gnbArea .btnDashboard:hover {border-color:#1f8efa;box-shadow: 0px 5px 15px 0px rgba(50, 60, 70, 0.02);}
.header .gnbArea .btnDashboard:hover i {opacity:1;}
.header .gnbArea .btnDashboardPlus {position:absolute;right:85px;top:20px;display:inline-block;height:34px;padding:0 12px;font-size:14px;color:#1c1c1c;font-weight:400;line-height:32px;border:1px solid #ccc;border-radius:17px;}
.header .gnbArea .btnDashboardPlus:hover {border-color:#ccc;box-shadow: 0px 5px 15px 0px rgba(50, 60, 70, 0.2);}
.header .gnbArea .btnDashboardPlus i {margin:0px 5px 0 0;font-size:18px;color:#666;opacity:0.5;vertical-align:middle;transition:all 0.1s;}
.header .gnbArea .btnDashboardPlus:hover i {opacity:1;}
.header .gnbArea .btnDashboardSave {position:absolute;right:0px;top:20px;display:inline-block;height:34px;padding:0 25px;font-size:14px;color:#fff;font-weight:400;line-height:32px;border:1px solid #1f8efa;background:#1f8efa;border-radius:17px;}
.header .gnbArea .btnDashboardSave:hover {border-color:#1f8efa;box-shadow: 0px 5px 15px 0px rgba(31, 142, 250,0.4);}

.header .gnbArea .menu > li input {width:250px;height:40px;margin:-3px 0 0 5px;padding:0 56px 0 15px;background:#fff;border:1px solid #30475d;border-radius:20px;font-size:16px;color:#30475d;outline:none;transition:all 0.1s;}
.header .gnbArea .menu > li:first-child input {margin-left:0px;}
.header .gnbArea .menu > li input:hover, .header .gnbArea .menu > li input:focus {box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.12);}
.header .gnbArea .menu > li input::-webkit-input-placeholder {font-size:16px;color:#30475d;}
.header .gnbArea .menu > li input:-ms-input-placeholder {font-size:16px;color:#30475d;}
.header .gnbArea .menu > li input::-moz-input-placeholder {font-size:16px;color:#30475d;}
.header .gnbArea .menu > li input:-moz-placeholder {font-size:16px;color:#30475d;}
.header .gnbArea .menu > li input + a {position:absolute;right:7px;top:3px;display:block;width:44px;height:28px;background:#30475d;font-size:13px;color:#fff;font-weight:700;border-radius:22px;text-align:center;line-height:28px;transition:all 0.1s;}
.header .gnbArea .menu > li input + a:hover {background:#253646;color:#fff;}

/* gnb select */
.gnbArea .dropdown {position:relative;float:left;margin-top:15px;}
.gnbArea .dropdown a {display:block;height:42px;background:#1f8efa;font-size:18px;line-height:41px;color:#fff;letter-spacing:-1px;font-weight:700;}
.gnbArea .dropdown a em {display:inline-block;width:22px;height:30px;margin:-2px 6px 0 15px;vertical-align:middle;}
.gnbArea .dropdown .ico01 {background:url('/resources/images/common/mainmenu001.svg') no-repeat 50% 50%;}
.gnbArea .dropdown .ico02 {background:url('/resources/images/common/mainmenu002.svg') no-repeat 50% 50%;}
.gnbArea .dropdown .ico03 {background:url('/resources/images/common/mainmenu003.svg') no-repeat 50% 50%;}
.gnbArea .dropdown .ico04 {background:url('/resources/images/common/mainmenu004.svg') no-repeat 50% 50%;}
.gnbArea .dropdown .ico05 {background:url('/resources/images/common/mainmenu005.svg') no-repeat 50% 50%;}
.gnbArea .dropdown .ico06 {background:url('/resources/images/common/mainmenu006.svg') no-repeat 50% 50%;}
.gnbArea .dropdown .ico07 {background:url('/resources/images/common/mainmenu007.svg') no-repeat 50% 50%;}
.gnbArea .dropdown .ico08 {background:url('/resources/images/common/mainmenu008.svg') no-repeat 50% 50%;}
.gnbArea .dropdown dt a {position:relative;width:163px;border-radius:21px;}
.gnbArea .dropdown dt a span {font-weight:700;}
.gnbArea .dropdown dt a i.xi-angle-down-min {position:absolute;right:15px;top:12px;font-size:16px;color:#fff;opacity:0.5;transition:all 0.2s ease;}
.gnbArea .dropdown dt a:hover {box-shadow: 0px 5px 15px 0px rgba(31, 142, 250, 0.4);transition:all 0.2s ease;}
.gnbArea .dropdown dt a:hover i.xi-angle-down-min {opacity:1;}
.gnbArea .dropdown dd {display:none;position:absolute;overflow:hidden;left:0;top:0;width:163px;padding:10px 0;border-radius:12px;z-index:10;box-shadow: 0px 5px 15px 0px rgba(31, 142, 250, 0.4);background:#1f8efa; }
.gnbArea .dropdown dd i.xi-angle-down-min {display:none;}
.gnbArea .dropdown dd a {height:34px;line-height:34px;opacity:0.5;background:none;transition:all 0.2s ease;}
.gnbArea .dropdown dd a:hover {opacity:1;}
.gnbArea .dropdown span.value { display:none;}
.gnbArea .dropdown img.flag { border:none; vertical-align:middle;padding:11px;}
.flagvisibility { display:none;}

.searchArea {height:73px;border-bottom:1px solid #e9edee;box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.02);background:rgb(244, 248, 249);}
.searchArea .variableArea {padding:12px 0 0 744px;}
.searchArea .variableArea > div {display:inline-block;height:48px;border:1px solid #e0e4e5;box-sizing:border-box;border-radius:24px;background:#fff;font-size:0;/*transition:all 0.2s ease;*/}
.searchArea .variableArea > div:hover {box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.05);}
.searchArea .variableArea > div strong {font-size:14px;color:#6f7e8c;font-weight:500;}
.searchArea .variableArea > div strong span {display:none;font-weight:500;}

.searchArea .variableArea .cateSelect {display:none;}
.searchArea .period {position:absolute;left:0;top:12px;line-height:46px;}
.searchArea .period i {margin:-4px 2px 0 15px;font-size:18px;vertical-align:middle;}
.searchArea .period .term {display:inline-block;position:relative;top:-1px;width:38px;height:26px;margin:0 9px;line-height:24px;background:#f3f5f8;border:1px solid #e3e8ef;text-align:center;border-radius:13px;font-size:13px;color:#627c9c;font-weight:700;letter-spacing:-1px;}
.searchArea .period .date, .searchArea .period .date span {font-size:15px;color:#1c1c1c;font-weight:500;}
.searchArea .period .date i {margin:0 11px 0 6px;font-size:14px;color:#666;opacity:0.5;transition:all 0.2s ease;}
.searchArea .period .date:hover i {opacity:1;}
.searchArea .period .periodLayer {display:none;position:absolute;left:0;top:58px;width:452px;padding-bottom:12px;background:#fff;border:1px solid #e0e4e5;border-radius:23px;line-height:1;box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.2);z-index:10;}
.searchArea .period .periodLayer > p {padding:20px 0 0 20px;font-size:14px;color:#1c1c1c;font-weight:500;}
.searchArea .period .periodLayer > ul {padding:14px 0 20px 20px;}
.searchArea .period .periodLayer > ul:after {content:"";display:block;clear:both;}
.searchArea .period .periodLayer > ul li {float:left;margin-left:7px;}
.searchArea .period .periodLayer > ul li:first-child {margin-left:0px;}
.searchArea .period .periodLayer > ul li input[type='radio'] {display:none;}
.searchArea .period .periodLayer > ul li label {display:block;height:30px;padding:0 14px;font-size:13px;font-weight:500;line-height:28px;border:1px solid #e0e4e5;border-radius:15px;transition:all 0.1s;}
.searchArea .period .periodLayer > ul li label:hover {color:#1c1c1c;background:#f4f8f9;}
.searchArea .period .periodLayer > ul li input[type='radio']:checked + label {color:#fff;background:#1f8efa;border-color:#1f8efa;font-weight:700;box-shadow: 0px 5px 15px 0px rgba(31, 142, 250, 0.40);}

/* datepicker*/
.searchArea .period .periodLayer .calendarArea {position:relative;padding-bottom:10px;border-top:1px solid #e0e4e5;border-bottom:1px solid #e0e4e5}
.searchArea .period .periodLayer .calendarArea:before {position:absolute;right:50%;top:15px;bottom:20px;display:block;content:"";width:1px;background:#e0e4e5;}
.searchArea .period .periodLayer .calendarArea:after {content:"";display:block;clear:both;}
.searchArea .period .periodLayer .calendarArea .area {float:left;width:50%;}
.searchArea .period .periodLayer .calendarArea .area .txt {display:block;padding:15px 0 15px 20px;font-size:13px;color:#999;font-weight:500;}
.searchArea .period .periodLayer .hasDatepicker {width:200px;padding-left:12px;}
.searchArea .period .periodLayer .ui-datepicker {padding:0;}
.searchArea .period .periodLayer .ui-datepicker table {margin-top:10px;}
.searchArea .period .periodLayer .ui-widget.ui-widget-content {width:200px;border:none;}
.searchArea .period .periodLayer .ui-datepicker-other-month {opacity:0;}
.searchArea .period .periodLayer .ui-datepicker-header {height:20px;padding:0;border:none;background:none;}
.searchArea .period .periodLayer .ui-datepicker-title, .searchArea .period .periodLayer .ui-datepicker-title span{font-size:14px;color:#1c1c1c;font-weight:500;line-height:20px;}
.searchArea .period .periodLayer .ui-datepicker-next, .searchArea .period .periodLayer .ui-datepicker-prev {width:20px;height:20px;border-radius:10px;background:#fff;border:1px solid #e0e4e5;font-size:10px;color:#1c1c1c;line-height:18px;text-align:center;opacity:0.5;transition:all 0.1s;}
.searchArea .period .periodLayer .ui-datepicker-next:hover, .searchArea .period .periodLayer .ui-datepicker-prev:hover {opacity:1;box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);}
.searchArea .period .periodLayer .ui-datepicker-next {right:3px !important;top:0 !important;text-indent:1px;}
.searchArea .period .periodLayer .ui-datepicker-prev {left:5px !important;top:0 !important;text-indent:-1px;}
.searchArea .period .periodLayer .ui-datepicker-calendar th, .searchArea .period .periodLayer .ui-datepicker-calendar td {width:26px;height:24px;padding:0;text-align:center;opacity:1 !important;}
.searchArea .period .periodLayer .ui-datepicker-calendar span, .searchArea .period .periodLayer .ui-datepicker-calendar td a {display:block;width:22px;height:22px;margin:0 auto;padding:0;text-align:center;line-height:22px;font-size:12px;font-weight:400;color:#1c1c1c;border:none;background:none;}
.searchArea .period .periodLayer .ui-datepicker-calendar th:first-child span, .searchArea .period .periodLayer .ui-datepicker-calendar td:first-child a, .searchArea .period .periodLayer .ui-datepicker-calendar td:first-child span {color:#ed4c4c;}
.searchArea .period .periodLayer .ui-state-active {background:#1f8efa !important;color:#fff !important;font-weight:700 !important;border-radius:11px;box-shadow: 0px 6px 8px 0px rgba(31, 142, 250, 0.3);}

.searchArea .period .periodLayer .btnArea {padding:14px 10px 0 0;text-align:right;font-size:0;}
.searchArea .period .periodLayer .btnArea a {display:inline-block;height:34px;margin-left:7px;padding:0 20px;font-weight:500;font-size:14px;line-height:34px;border-radius:17px;}
.searchArea .period .periodLayer .btnArea .btnCancel {border:1px solid #ccc;color:#666;}
.searchArea .period .periodLayer .btnArea .btnApply {background:#1c1c1c;border:1px solid #1c1c1c;color:#fff;}
.searchArea .period .periodLayer .btnClose {overflow:hidden;position:absolute;right:16px;top:16px;width:16px;height:16px;font-size:16px;color:#555;opacity:0.8;transition:all 0.1s;}
.searchArea .period .periodLayer .btnClose:hover {opacity:1;}

.searchArea .media {position:absolute;left:330px;top:12px;min-width:404px;padding:0 0 0 15px;line-height:44px;}
.searchArea .media input[type=checkbox] {display:none;}
.searchArea .media strong {position:relative;top:2px;margin-right:8px;}
.searchArea .media strong i {margin:-4px 4px 0 0;font-size:18px;vertical-align:middle;}
.searchArea .media label {display:inline-block;overflow:hidden;height:32px;margin:7px 5px 0 0;color:#fff;border-radius:16px;line-height:32px;letter-spacing:-1px;background:#c4d0dd/*transition:all 0.2s ease;*/}
.searchArea .media label i {display:inline-block;width:32px;height:32px;text-align:center;vertical-align:middle;}
.searchArea .media label span {display:none;font-size:14px;font-weight:700;}
.searchArea .media label:hover {box-shadow: 0px 5px 10px 0px rgba(50, 60, 70, 0.02);}
.searchArea .media label.etc {padding:0 13px;line-height:34px;}
.searchArea .media input[type=checkbox]:checked + label.all {background:#2d3842;}
.searchArea .media label.etc span{display:block;}
.searchArea .media input[type=checkbox]:checked + label.mass {background:#8036e9;}
.searchArea .media label.mass i {background:url('/resources/images/common/media_sq_fill_mass.svg') no-repeat 50% 50%;background-size:32px 32px;}
.searchArea .media input[type=checkbox]:checked + label.twitter {background:#00a0ea;}
.searchArea .media label.twitter i {background:url('/resources/images/common/media_sq_fill_twitter.svg') no-repeat 50% 50%;background-size:32px 32px;}
.searchArea .media input[type=checkbox]:checked + label.facebook {background:#007bd2;}
.searchArea .media label.facebook i {background:url('/resources/images/common/media_sq_fill_facebook.svg') no-repeat 50% 50%;background-size:32px 32px;}
.searchArea .media input[type=checkbox]:checked + label.instagram {background:#ff3578;}
.searchArea .media label.instagram i {background:url('/resources/images/common/media_sq_fill_instagram.svg') no-repeat 50% 50%;background-size:32px 32px;}
.searchArea .media input[type=checkbox]:checked + label.blog {background:#2fdd58;}
.searchArea .media label.blog i {background:url('/resources/images/common/media_sq_fill_blog.svg') no-repeat 50% 50%;background-size:32px 32px;}
.searchArea .media input[type=checkbox]:checked + label.blog {background:#2fdd58;}
.searchArea .media label.community i {background:url('/resources/images/common/media_sq_fill_comm.svg') no-repeat 50% 50%;background-size:32px 32px;}
.searchArea .media input[type=checkbox]:checked + label.community {background:#f6550e;}

.searchArea .channel {display:inline-block ;position:relative;width:105px;margin-top:-7px;vertical-align:middle;z-index:10;}
.searchArea .channel .dropdown {position:relative;}
.searchArea .channel .dropdown dt a {position:relative;display:block;padding-left:9px;font-size:15px;color:#1c1c1c;font-weight:500;}
.searchArea .channel .dropdown dt a i.xi-caret-down-min {position:absolute;right:5px;top:16px;font-size:14px;color:#666;opacity:0.5;}
.searchArea .channel .dropdown dt a:hover i.xi-caret-down-min, .searchArea .channel .dropdown dt.open a i.xi-caret-down-min {opacity:1}
.searchArea .channel:before {position:absolute;left:0;top:13px;content:"";display:block;width:1px;height:16px;background:#dedfdf;}
.searchArea .channel .dropdown dd {display:none;position:absolute;overflow:hidden;left:-5px;top:38px;width:100px;;font-size:14px;line-height:24px;z-index:10;box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.3);background:#fff;border:1px solid #ddd;border-radius:8px;padding:11px 14px 9px 14px; }
.searchArea .channel .dropdown dd i.xi-caret-down-min {display:none;}
.searchArea .channel .dropdown dd a {display:block;font-size:14px;color:#666;}
.searchArea .channel .dropdown dd a:hover {color:#1c1c1c;}
.searchArea .channel .dropdown dd a.on {color:#1c1c1c;font-weight:500}
.searchArea .channel .dropdown dd em { display:none;}

.searchArea .search {overflow:hidden;position:relative;width:100%;z-index:1}
.searchArea .search:hover {height:auto;}
.searchArea .searchBox {position:relative;}
.searchArea .searchBox i {position:absolute;left:16px;top:13px;font-size:20px;color:#6f7e8c;}
.searchArea .searchBox input {width:100%;height:48px;padding:0 66px 0 45px;border:none;outline:none;font-size:15px;font-weight:500;color:#1c1c1c;}
.searchArea .searchBox input::-webkit-input-placeholder {font-size:15px;color:#bec7cd;}
.searchArea .searchBox input:-ms-input-placeholder {font-size:15px;color:#bec7cd;}
.searchArea .searchBox input::-moz-input-placeholder {font-size:15px;color:#bec7cd;}
.searchArea .searchBox input:-moz-placeholder {font-size:15px;color:#bec7cd;}
input::-ms-clear {display: none;}
.searchArea .searchBox .btn {position:absolute;right:0;top:0;overflow:hidden;display:block;width:56px;height:48px;background:url('/resources/images/common/icon_search.svg') no-repeat 50% 50%;text-indent:-999px;}
.searchArea .search .searchSetting {display:none;position:relative;padding:17px 13px 15px 20px;background:#fff;border-top:1px solid #e0e4e5;}
.searchArea .search:hover .searchSetting {display:block;height:auto;}
.searchArea .search .searchSetting p {margin-bottom:16px;padding-right:50px;font-size:13px;color:#3d3f41;font-weight:300;}
.searchArea .search .searchSetting .btnSetting {position:absolute;right:15px;top:14px;font-size:13px;font-weight:300;}
.searchArea .search .searchSetting .btnSetting i {padding-right:3px;opacity:0.5;}
.searchArea .search .searchSetting .btnSetting:hover i {opacity:1;}
.searchArea .search .searchSetting ul:after {content:"";display:block;clear:both;}
.searchArea .search .searchSetting ul li {float:left;margin:0 7px 10px 0;}
.searchArea .search .searchSetting ul li a {display:block;padding:0 14px;height:30px;line-height:30px;border:1px solid #e0e4e5;border-radius:14px;font-size:13px;font-weight:500;transition:all 0.1s;}
.searchArea .search .searchSetting ul li a:hover {color:#fff;background:#1f8efa;border-color:#1f8efa;box-shadow: 0px 5px 15px 0px rgba(31, 142, 250, 0.40);}

/* fixed bar */
.searchArea.sticky {position:fixed;left:0;top:-53px;width:100%;height:54px;background:#fff;border-bottom:1px solid #e9edee;z-index:90;}
.searchArea.sticky .variableArea {padding:0 0 0 911px;}
.searchArea.sticky .variableArea > div  {top:0;height:53px;padding-top:3px;border:none;border-left:1px solid #e9edee;border-radius:0;box-shadow:none;}
.searchArea.sticky .variableArea > div:first-child {border:none;}
.searchArea.sticky .tit span, .searchArea.sticky .tit em {display:none !Important;}
.searchArea.sticky .period {left:260px;width:286px;}
.searchArea.sticky .period .tit i {margin: -2px 0 0 13px;}
.searchArea.sticky .period i.xi-caret-down-min {margin: -3px -2px 0 6px;}
.searchArea.sticky .period .periodLayer {left:-82px;top:42px;}
.searchArea.sticky .media {left:547px;width:362px;min-width:auto;}
.searchArea.sticky .media strong, .searchArea.sticky .media strong i {margin-right:0;}
.searchArea.sticky .media label {padding:0;}
.searchArea.sticky .media label span {display:none;}
.searchArea.sticky .channel {width:104px;}
.searchArea.sticky .channel:before {display:none;}
.searchArea.sticky .search {overflow:visible;float:left;min-width:294px;}
.searchArea.sticky .searchBox input {height:50px;}
.searchArea.sticky .search .searchSetting {left:-1px;border:1px solid #e9edee;}
.blankArea {display:none;}
.searchArea.sticky + .blankArea {display:block;height:74px;}

.searchArea.sticky .cateSelect {position:absolute;left:0;display:block;width:260px;z-index:1}
.searchArea .cateSelect .dropdown {float:left;position:relative;width:138px;}
.searchArea .cateSelect .dropdown:first-child {width:122px;}

.searchArea .cateSelect dt a em {display:inline-block;width:22px;height:22px;margin:-2px 4px 0 0;vertical-align:middle;}
.searchArea .cateSelect dt .ico01 {background:url('/resources/images/common/mainmenu_color_001.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dt .ico02 {background:url('/resources/images/common/mainmenu_color_002.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dt .ico03 {background:url('/resources/images/common/mainmenu_color_003.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dt .ico04 {background:url('/resources/images/common/mainmenu_color_004.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dt .ico05 {background:url('/resources/images/common/mainmenu_color_005.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dt .ico06 {background:url('/resources/images/common/mainmenu_color_006.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dt .ico07 {background:url('/resources/images/common/mainmenu_color_007.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dt .ico08 {background:url('/resources/images/common/mainmenu_color_008.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dd a em {display:inline-block;width:20px;height:20px;margin:-2px 4px 0 0;vertical-align:middle;}
.searchArea .cateSelect dd .ico01 {background:url('/resources/images/common/mainmenu001.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dd .ico02 {background:url('/resources/images/common/mainmenu002.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dd .ico03 {background:url('/resources/images/common/mainmenu003.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dd .ico04 {background:url('/resources/images/common/mainmenu004.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dd .ico05 {background:url('/resources/images/common/mainmenu005.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dd .ico06 {background:url('/resources/images/common/mainmenu006.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dd .ico07 {background:url('/resources/images/common/mainmenu007.svg') no-repeat 50% 50%;}
.searchArea .cateSelect dd .ico08 {background:url('/resources/images/common/mainmenu008.svg') no-repeat 50% 50%;}

.searchArea .cateSelect .cate dt a {position:relative;display:block;font-size:16px;color:#1f8efa;line-height:50px;}
.searchArea .cateSelect .cate dt a span {font-weight:700;}
.searchArea .cateSelect .cate dt a i.xi-caret-down-min {display:none;position:absolute;right:5px;top:18px;font-size:14px;color:#666;opacity:0.5;transition:0.1s}
.searchArea .cateSelect .cate dt a:hover i.xi-caret-down-min {display:block;}
.searchArea .cateSelect .cate dt.open a i.xi-caret-down-min {display:block;opacity:1;color:#1f8efa;}
.searchArea .cateSelect .cate dt i.xi-angle-right-min {position:absolute;right:3px;top:15px;font-size:18px;color:#999;}
.searchArea .cateSelect .cate dt:hover i.xi-angle-right-min, .searchArea .cateSelect .cate dt.open i.xi-angle-right-min {display:none;}
.searchArea .cateSelect .cate dd {display:none;position:absolute;left:-14px;top:38px;width:300px;}
.searchArea .cateSelect .cate ul {overflow:hidden;display:inline-block;min-width:130px;line-height:30px;z-index:10;box-shadow: 0px 6px 20px 0px rgba(50, 60, 70, 0.2);background:#1f8efa;border-radius:12px;padding:11px 14px 9px 14px; }
.searchArea .cateSelect .cate dd i.xi-caret-down-min {display:none;}
.searchArea .cateSelect .cate dd a {display:block;font-size:16px;color:#fff;opacity:0.5;font-weight:500;transition:all 0.1s;}
.searchArea .cateSelect .cate dd a:hover {font-weight:700;opacity:1;}
.searchArea .cateSelect .cate dd a.on {color:#1c1c1c;font-weight:500}

.searchArea .cateSelect .menu dt a {position:relative;display:block;padding-right:20px;font-size:16px;color:#1c1c1c;line-height:50px;font-weight:500;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.searchArea .cateSelect .menu dt a i.xi-caret-down-min {display:none;position:absolute;right:5px;top:16px;font-size:14px;color:#666;opacity:0.5;transition:all 0.1s}
.searchArea .cateSelect .menu dt a:hover i.xi-caret-down-min {display:block;} 
.searchArea .cateSelect .menu dt.open a i.xi-caret-down-min {display:block;opacity:1}
.searchArea .cateSelect .menu dd {display:none;position:absolute;left:-15px;top:38px;width:200px;}
.searchArea .cateSelect .menu ul {overflow:hidden;display:inline-block;font-size:14px;line-height:24px;z-index:10;box-shadow: 0px 10px 20px 0px rgba(50, 60, 70, 0.3);background:#fff;border:1px solid #ddd;border-radius:8px;padding:11px 14px 9px 14px; }
.searchArea .cateSelect .menu dd i.xi-caret-down-min {display:none;}
.searchArea .cateSelect .menu dd a {display:block;font-size:14px;color:#666;}
.searchArea .cateSelect .menu dd a:hover {color:#1c1c1c;}
.searchArea .cateSelect .menu dd a.on {color:#1c1c1c;font-weight:500}
.searchArea .cateSelect .menu dd em { display:none;}

@media (min-width:1820px) {
	.searchArea .variableArea {padding:12px 0 0 1206px;}
	.searchArea .media {left:356px;min-width:840px;}
	.searchArea .media label {padding:0 17px 0 4px;}
	.searchArea .media label span {display:inline-block;}
	.searchArea .variableArea > div strong span {display:inline-block;}
}

.editTxt {height:46px;color:#1c1c1c;font-size:13px;line-height:46px;border-bottom:1px solid #e0e4e5;}
.editTxt  div {padding-left:16px;background:url('/resources/images/common/icon_info12.svg') no-repeat 0 50%;}

/* container */
.container {min-height:750px;}
.content {position:relative;display:block;/*overflow:hidden;*/width:1740px;margin:0 auto;padding:25px 0px;}
.grid-stack{width:1770px;}
/*
@media (min-width:0px) {.content {max-width:1150px;} .grid-stack{width:1180px;max-width:1180px;}}
@media (min-width:1525px) {.content {max-width:1445px;} .grid-stack{width:1475px;max-width:1475px;}}
@media (min-width:1820px) {.content {max-width:1740px;} .grid-stack{width:1770px;max-width:1770px;}}
*/

/* footer */
.footer {min-width:1180px;height:135px;margin-top:-135px;background:#222;color:#777;}
.footerIn {position:relative;display:block;width:1740px;margin:0 auto;}
/*
@media (min-width:0px) {.footerIn {max-width:1150px;}}
@media (min-width:1525px) {.footerIn {max-width:1445px;}}
@media (min-width:1820px) {.footerIn {max-width:1740px;}}
*/
.footerTop {height:49px;border-bottom:1px solid #333;}
.footerTop:after {content:"";display:block;clear:both;}

.footerTop .rollingNotice {float:left;overflow:hidden;position:relative;width:500px;height:30px;margin-top:9px;padding-right:36px;border-right:1px solid #333;}
.footerTop .rollingNotice li {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:470px;}
.footerTop .rollingNotice li a {font-size:14px;color:#fff;line-height:30px;font-weight: 300;}
.footerTop .rollingNotice li a:hover {border-bottom:1px solid #fff;}
.footerTop .rollingNotice li span {display:inline-block;width:32px;height:18px;margin-top:-4px;line-height:18px;margin-right:10px;vertical-align:middle;font-size:11px;color:#fff;font-weight:500;text-align:center;background:#f3682b;border-radius:9px;}
.footerTop .rollingNotice > a {position:absolute;right:12px;font-size:14px;color:#fff;opacity:0.5;}
.footerTop .rollingNotice > a:hover {opacity:1;}
.footerTop .rollingNotice > a.up {top:2px;}
.footerTop .rollingNotice > a.down {top:13px;}
.footerTop .rollingNotice > a span {display:none;}

.footerTop .footMenu {float:right;padding-top:14px;}
.footerTop .footMenu:after {content:"";display:block;clear:both;}
.footerTop .footMenu li {float:left;position:relative;padding:0px 12px;}
.footerTop .footMenu li a {color:#999;font-size:13px;}
.footerTop .footMenu li a:hover {color:#ddd;}
.footerTop .footMenu li:after {position:absolute;left:0;top:50%;content:"";display:block;width:1px;height:12px;margin-top:-7px;background:#333;}
.footerTop .footMenu li:first-child:after {display:none;}
.footerTop .footMenu li:last-child {padding-right:0;}

.footerBot {position:relative;}
.footerBot .addr {padding-top:22px;font-size:12px;color:#999;font-weight:300;}
.footerBot .addr a {color:#999;}
.footerBot .addr a {color:#ddd;}
.footerBot .contact {padding-top:3px;}
.footerBot .contact:after {content:"";display:block;clear:both;}
.footerBot .contact li {position:relative;float:left;padding:0 10px;}
.footerBot .contact li:before {position:absolute;left:0;top:50%;content:"";display:block;width:1px;height:12px;margin-top:-7px;background:#333;}
.footerBot .contact li:first-child:before {display:none;}
.footerBot .contact li:first-child {padding-left:0;}
.footerBot .contact li a:hover {color:#ddd;}
.footerBot .sns {position:absolute;right:0;top:14px;}
.footerBot .sns li {float:left;padding-left:10px;}
.footerBot .sns li a {overflow:hidden;display:block;width:21px;height:20px;text-indent:-999px;background-image:url('/resources/images/common/footer_sns_icons.svg');}
.footerBot .sns li a.home {background-position:0 0;}
.footerBot .sns li a.home:hover {background-position:0 -20px;}
.footerBot .sns li a.tstroy {background-position:-21px 0;}
.footerBot .sns li a.tstroy:hover {background-position:-21px -20px;}
.footerBot .sns li a.facebook {width:13px;background-position:-42px 0;}
.footerBot .sns li a.facebook:hover {background-position:-42px -20px;}
.footerBot .sns li a.twitter {background-position:-55px 0;}
.footerBot .sns li a.twitter:hover {background-position:-55px -20px;}
.footerBot .sns li a.instagram {background-position:-76px 0;}
.footerBot .sns li a.instagram:hover {background-position:-76px -20px;}

.footerBot .copy {position:absolute;right:0;top:45px;font-size:10px;color:#777;font-family:'Tahoma';letter-spacing:1px;}
.footerBot .copy a {font-weight:bold;color:#888}
.footerBot .copy a:hover {color:#ddd;}

/* popup */
.blocker{position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;overflow:auto;box-sizing:border-box;background-color:rgba(0,0,0,0.6);text-align:center;padding:20px;z-index:100}
.blocker:before{content:"";display:inline-block;height:100%;vertical-align:middle;margin-right:-.05em;}
.blocker.behind{background-color:transparent;}
.modal{display:inline-block;vertical-align:middle;position:relative;box-sizing:border-box;min-width:340px;background:#fff;border-radius:8px;box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.3);text-align:left;z-index:101;}
.modal.wideType {width:730px;}
.modal a.close-modal{position:absolute;top:16px;right:13px;display:block;width:18px;height:18px;font-size:18px;line-height:18px;color:#666;opacity:0.5;}
.modal a.close-modal:hover {opacity:1;}
.modal a.close-modal span {display:none;}


.modal .layerPopWrap {}
.modal .layerPopWrap .tit {position:relative;height:53px;padding:0 0 0 15px;border-bottom: 1px solid #e0e4e5;font-size: 18px;color: #1c1c1c;font-weight: 400;line-height: 53px;}
.modal .layerPopWrap .tit .btnHelp {position:absolute;right:40px;top:16px;display:block;width:18px;height:18px;color:#1c1c1c;opacity:0.5;}
.modal .layerPopWrap .tit .btnHelp:hover, .modal .layerPopWrap .tit .btnHelp.open {opacity:1;}
.modal .layerPopWrap .tit .btnHelp span {display:none;}
.modal .layerPopWrap .tit .helpArea {display:none;position:absolute;right:17px;top:40px;width:385px;padding:20px 20px 20px 20px;background:#fff;border-radius:8px;border:1px solid #ddd;z-index:1;font-size:13px;line-height:22px;}
.modal .layerPopWrap .tit .helpArea:before {position: absolute;right: 25px;top: -6px;content: "";display: block;width: 12px;height: 6px;margin-left: -6px;background: url('/resources/images/common/Triangle001.svg') no-repeat;}
.modal .layerPopWrap .tit .helpArea li {margin-top:5px;}
.modal .layerPopWrap .tit .helpArea li:first-child {margin-top:0px;}


/*
.modal-spinner{display:none;position:fixed;top:50%;left:50%;transform:translateY(-50%) translateX(-50%);border-radius:5px;background-color:#111;height:20px;padding:12px 16px;}
.modal-spinner>div{border-radius:100px;background-color:#fff;height:20px;width:2px;display:inline-block;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out;margin:0 1px;}
.modal-spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s;}
.modal-spinner .rect3{-webkit-animation-delay:-1s;animation-delay:-1s;}
.modal-spinner .rect4{-webkit-animation-delay:-.9s;animation-delay:-.9s;}
20%{transform:scaleY(1.0);-webkit-transform:scaleY(1.0);}
*/